<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284062642616-b7ghptq3l1s1se6iddbv3rodjaadlrft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284062642616-b7ghptq3l1s1se6iddbv3rodjaadlrft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>284062642616-mihejkds7pt5pqr7vh11kbqnlgqpd1i4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdZ-WRNV7_4jsLeS85haCeYV_aNh4mRSU</string>
	<key>GCM_SENDER_ID</key>
	<string>284062642616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.delli</string>
	<key>PROJECT_ID</key>
	<string>delli-e5083</string>
	<key>STORAGE_BUCKET</key>
	<string>delli-e5083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284062642616:ios:9c0a67c729fe736facdf4d</string>
</dict>
</plist>